<app-assigmrnt3></app-assigmrnt3>
<input class="form-control" type="text" [(ngModel)] = "username">

<p [innerText] = "username"></p>

<button class="btn btn-primary" [disabled] = "username == null" >clickMe</button>
<app-server></app-server>

<P></P>
