<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
<input  type="text" [(ngModel)] = "name">

<button class="btn btn-primary" [disabled] = "disabledNewServer"
        (click) = "onCreateServer()">Add new Server</button>

      <input type="text" class="form-control" (input) = "onUpdateServerName($event)">

      <p [innerText] = "updateServerName"></p>

      <p [innerText] = "isServerCreated"></p>

      <select name = "dropdown" (change) = "itemSelected($event)">
        <option value = "Computer Architecture" selected>Computer Architecture</option>
        <option value = "Java">Java</option>
        <option value = "Discrete Mathematics">Discrete Mathematics</option>
      </select>
      <p>{{itemValue}}</p>

      <p>{{name}}</p>
 <p>Today is : {{date}}</p>
<app-server></app-server>
 <app-seccucc-alert></app-seccucc-alert>
 <app-warning-alert></app-warning-alert>

    </div>
  </div>
</div>
