
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <input class="form-control" type="text" [(ngModel)] = "inputvalue">
      <button class="btn btn-primary"  [disabled] = "inputvalue == ''" (click) = "createServer()">Create Server</button>
      <p *ngIf = "isServerCreated;else noServerCreated" class="alert alert-dismissable alert-success">
        server Created! {{inputvalue}}
      </p>

      <ng-template #noServerCreated>

          <p class="alert alert-dismissible alert-info">No server created </p>

        </ng-template>

    </div>

  </div>

</div>



